body{background-color: black;}

main{
    border: solid 1px white;
    width:900px;
    margin: auto;
    text-align: center;
}

nav{
    color: white;
    height: 100vh;
    background-image: url("images/hero.jpg");   
    background-size: cover;
}
nav ul {
    list-style-type: none;
    margin: 15px;
    padding: 20px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
  }
  nav ul li a {
    color: white;
  }
  
 
nav li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .fedezfel section h1{
    text-align: center;
  }
nav li{
    margin: 15px;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(247, 123, 8);
  }
nav li a:hover{
    background-color: white;
    color: black;

  }
nav li:hover{
    background-color: white;
    color: black;

  }
.atag:hover{
    background-color: white;
    color: black;
  }
.elet{color: white;}
.atag{
    color: white;
    background-color: rgb(247, 123, 8);
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
  }

  .elet ul{

    list-style-type: none;
    margin: 15px;
    padding: 20px;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.elet li{
    margin: 15px;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(247, 123, 8);

}
.elet li a{
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.elet li:hover{
    background-color: white;
    color: black;

  }
  .elet ul li a{color: white;}
  .elet ul li a:hover{
    background-color: white;
    color: black;
  }
.elet{
  background-color: black;
  color: white;
}
.atagmasik{
  color: white;  
  background-color: rgb(247, 123, 8);
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
}
.kintii{
  color: white;
  

}
.ataga{
  background-color: rgb(247, 123, 8);
  display: block;
  text-align: center;
  padding: 14px 16px;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
}
article{
  
  background-color: black;
  
}
.kintisection{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.benticic{color: white;}

.cic{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.mirefigyelj{
  text-align: left;
  color: white;
}
section img{
  padding-bottom: 10px;
  border-radius: 10%;
}
.egerdiv{
  
  margin: 10px;
  background-color: white;
}
.haldiv{
  padding: 10px;
  
  background-color: white;
}
.eger{
  
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fedezfel{
  color: black;
}